.pkm-card{
  max-width: 800px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #0047AB;
}

img{
  background-size: cover;
  height: 200px;
  width: 300px;
}
