.add-pokemon{
  border: 3px solid steelblue;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  }
  .form-control{
    margin: 20px 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .form-control input, textarea{
    width: 400px;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
    border-radius: 10px;
  }

  .form-control label{
    font-size: 20px;
    font-style: italic;
  }



